---
import { Icon } from "astro-icon/components";
import GalleryImage from "./GalleryImage.astro";
import Photo1 from "../../assets/images/grupo_tebas_1.jpeg";
import Photo2 from "../../assets/images/grupo_tebas_2.jpeg";
import Photo3 from "../../assets/images/grupo_tebas_3.jpeg";
import Photo4 from "../../assets/images/grupo_tebas_4.jpeg";
import Photo5 from "../../assets/images/grupo_tebas_5.jpeg";
import Photo6 from "../../assets/images/grupo_tebas_6.jpeg";
---

<section
  class="grid grid-cols-1 gap-6 px-4 py-2 pb-6 sm:grid-cols-2 sm:px-6 md:grid-cols-3 md:px-10 md:py-10 lg:grid-cols-4 lg:px-30"
>
  <div
    class="bg-tebas-600 flex h-full w-full flex-col gap-4 rounded-2xl p-6 sm:p-8"
  >
    <h2 class="font-important text-2xl font-bold">Galería</h2>
    <p class="text-base font-normal">
      Desde Grupo Tebas hemos preparado esta galería para que puedas observar
      nuestros acabados, ver la trayectería de nuestros proyectos y comprobar la
      calidad de nuestro trabajo.
    </p>
  </div>

  <GalleryImage imgSrc={Photo1} imgAlt="placeholder" />
  <GalleryImage imgSrc={Photo2} imgAlt="placeholder" />
  <GalleryImage imgSrc={Photo3} imgAlt="placeholder" />
  <GalleryImage imgSrc={Photo4} imgAlt="placeholder" />
  <GalleryImage imgSrc={Photo5} imgAlt="placeholder" />
  <GalleryImage imgSrc={Photo6} imgAlt="placeholder" />

  <div
    class="bg-tebas-900 flex h-full w-full flex-col items-center justify-center gap-3 rounded-2xl p-4"
  >
    <Icon name="gallery" class="h-16 w-16" />
    <a
      href="/galeria"
      class="h-fit w-fit rounded border border-white bg-transparent px-6 py-3 font-bold text-white transition-colors hover:cursor-pointer hover:bg-gray-900"
      >Ver más</a
    >
  </div>
</section>
