---
import { Image } from "astro:assets";

interface Props {
  description: string;
  time: string;
  reference: string;
  cta: string;
  logo: ImageMetadata;
  alt: string;
  classList?: string;
  imageClassList?: string;
  buttonClassList: string[];
}

const {
  logo,
  description,
  time,
  reference,
  cta,
  alt,
  classList,
  imageClassList,
  buttonClassList,
} = Astro.props;
---

<section
  class="hidden flex-col gap-8 px-30 py-20 md:flex"
  class:list={classList}
>
  <div class="flex items-end">
    <figure>
      <Image src={logo} alt={alt} class:list={imageClassList} class="w-72" />
    </figure>
  </div>
  <div class="text-md flex flex-col gap-8 font-normal">
    <p>
      {description}
    </p>
    <p>
      <strong class="font-bold">Tiempo de construcción:</strong>
      {time}
    </p>
    <a
      class="w-fit self-center rounded px-6 py-3 font-semibold transition-colors hover:cursor-pointer"
      class:list={buttonClassList}
      href={reference}>{cta}</a
    >
  </div>
</section>

<section
  class="flex flex-col gap-6 p-6 sm:p-8 md:hidden md:p-10 lg:p-12 xl:p-14"
  class:list={classList}
>
  <div class="flex items-end justify-center">
    <figure>
      <Image
        src={logo}
        alt={alt}
        class="mx-auto w-48 sm:w-60 md:w-72"
        class:list={imageClassList}
      />
    </figure>
  </div>

  <div class="flex flex-col gap-6 text-base text-white">
    <p>{description}</p>

    <p>
      <strong class="font-bold">Tiempo de construcción:</strong>
      {time}
    </p>

    <a
      href={reference}
      class="w-fit self-center rounded px-6 py-3 font-semibold transition-colors hover:cursor-pointer"
      class:list={buttonClassList}
    >
      {cta}
    </a>
  </div>
</section>
